<!DOCTYPE html>
<html>
    <head>
      <title>Welcome to Our App</title>
    </head>
    <body>
        <h1>Welcome, <%= @user.email %>!</h1>
        <p>Thank you for signing up for our app.</p>
    </body>
</html>