<div , class="box">
  <p>
    <% if (comment.user.present?) %>
    <strong>Author Mail : </strong>
    <%=comment.user.email %><br>
      <%end %>
    <strong>Content:</strong>
    <%#=  comment.content %>
    <%= link_to comment.content, view_ratings_path(comment_id: comment.id),class: "link" %>

  </p>
</div>
