<div class="box">

 <strong>Title:</strong>
    <%= post.title%>
  <%= "(#{post.topic.title})" %>
<br>
    <strong>Content:</strong>
    <%= post.content %>
  <br>
    <strong>Tags: </strong>

    <% post.tags.each do|t| %>
    <%= t.name  %>
     <%end %>

</div>