<div id="<%= dom_id post %>">
    <strong>Title:</strong>
    <%= post.title %>
<br>
    <strong>Content:</strong>
    <%= post.content %>
  <br>
    <strong>Tags: </strong>

    <% post.tags.each do|t| %>
    <%= t.name  %>
     <%end %>

</div>
