
h1 {
    display: flex;
    padding: 5px;
    align-content: center;
    justify-content: center;
    color: black;
    font-size: 40px;
    font-family: "Book Antiqua";
    border: 2px solid black ;
}
body{

    background: linear-gradient(to right, ghostwhite,gray);
}
div{
    color: black;
    font-size: 20px;
    font-family: "Roboto Light";
    padding: 20px;
    background-color: gray;
}
p{
    color: black;
    border: #666666;
    padding: 0px;
    background: linear-gradient(to right, ghostwhite,gray);
}
.box{
    border-radius: 20px;
    background: linear-gradient(to right, plum,skyblue);
    padding: 20px;
    #font-family: "Roboto Light";
    border: 1.5px solid black;
    font-size: 20px;
}
.link {

    color: black;
    background-color: ghostwhite;
    padding: 5px;
    text-decoration: underline;
    border-radius: 5px;
    border: 1.5px solid black;
    font-family: "Lato";
}
.button{
    color: black;
    #background-color: white;
    padding: 10px;
    text-decoration: underline;
    border-radius: 5px;
    border: 1.5px solid black;
    font-family: "Lato";
    font-size: 18px;
}